{% load static %} {% load icons %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jukebox</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <main class="content">
      <aside class="sidebar-left">
        <h2 class="sidebar-title">Queue</h2>
        <div class="url-form">
          <input type="url" id="url-input" placeholder="YouTube URL" />
          <button id="url-button">Add</button>
        </div>
        <div id="queue"></div>
      </aside>

      <!-- Center: Now Playing -->
      <section class="now-playing">
        <img id="song-thumbnail" alt="Album Art" />
        <img
          id="default-thumbnail"
          src="{% static 'default_music.webp' %}"
          alt="Album Art"
        />
      </section>

      <!-- Right: Lyrics -->
      <aside class="sidebar-right">
        <h2 class="sidebar-title">Lyrics</h2>
        <div id="lyrics-container"></div>
      </aside>
    </main>

    <!-- Bottom: Player Bar -->
    <div class="player-bar">
      <div class="player-left">
        <div id="play-button">{% icon 'play' extra_classes='fa-xl' %}</div>
        <div id="pause-button">{% icon 'pause' extra_classes='fa-xl' %}</div>
        <div id="next-button">{% icon 'next' extra_classes='fa-xl' %}</div>
        <div></div>
        <span id="start-time">0:00</span>
        <span>/</span>
        <span id="end-time">0:00</span>
      </div>
      <div class="player-center">
        <div id="song-title">Nothing Playing</div>
        <div id="song-author">No Author</div>
      </div>
      <div class="player-right">
        {% icon 'volume' extra_classes='fa-xl' %}
        <input id="volume-slider" type="range" min="0" max="100" />
      </div>
    </div>

    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
