body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #121212;
  color: #f0f0f0;
  margin: 0px;
  padding: 0px;
  display: flex;
  height: 100vh;
}

.main-container {
  display: flex;
  padding: 20vh;
  gap: 10vh;
}

.centered-container {
  display: flex;
  width: 100%;
  height: 100%;
}

form {
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.outlined {
  border: 1px solid #333;
  border-radius: 6px;
  background-color: #1e1e1e;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.col-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
}

.row-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #2e2e2e;
  color: #f0f0f0;
  font-size: 14px;
  box-sizing: border-box;
}

h2 {
  font-size: 22px;
  color: #ffcc00;
}

h1 {
  color: #f0f0f0;
}

input[type="url"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #333;
  color: #e0e0e0;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}

input[type="url"]::placeholder {
  color: #aaa;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #ffcc00;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e6b800;
}

.control-icon {
  cursor: pointer;
  color: #ffcc00;
}

.control-icon:hover {
  color: #e6b800;
}

.url-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  padding: 20px;
}

.song-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 4;
  gap: 20px;
  padding: 5em;
}

.queue-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  padding: 20px;
}

.control-container {
  justify-self: stretch;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 20px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.button-control-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 16px;
  flex-grow: 1;
}

.song-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

#song-thumbnail {
  display: none;
  height: 25em;
  width: 25em;
  object-fit: cover;
  object-position: center;
  border-radius: 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #333;
  background-color: #1e1e1e;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

#default-thumbnail {
  display: none;
  height: 25em;
  width: 25em;
  object-fit: scale-down;
  object-position: center;
  border-radius: 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #333;
  background-color: #1e1e1e;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

#song-title {
  justify-self: flex-start;
  align-self: flex-start;
  font-weight: bolder;
}

#song-author {
  justify-self: flex-start;
  align-self: flex-start;
  color: #ffcc00;
  font-weight: lighter;
}

#queue-thumbnail {
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}

.queue-song-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.queue-song-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}