@import url("colors.css");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: system-ui, sans-serif;
  background-color: var(--base);
  color: var(--text);
}

.content {
  display: flex;
  height: calc(100vh - 100px);
  text-wrap-mode: nowrap;
  text-overflow: ellipsis;
}

.sidebar-left,
.sidebar-right {
  display: flex;
  flex-direction: column;
  width: 24vw;
  padding: 2em;
  gap: 1em;
  background-color: var(--overlay);
}

input {
  background-color: var(--base);
  color: var(--text);
  border: none;
  border-radius: 0.5em;
  padding: 0.8em 1.2em;

  &:focus {
    outline: none;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background-color: var(--base);
  border-radius: 6px;
  cursor: pointer;
  padding: 0;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
    background-color: var(--accent);
    border-radius: 50%;
    border: none;
    transition: width 0.2s ease, height 0.2s ease; /* Smooth resizing */
  }

  &::-webkit-slider-thumb:hover,
  &:focus::-webkit-slider-thumb {
    transform: scale(2);
  }

  &::-moz-range-track {
    height: 4px;
    background-color: var(--base);
    border-radius: 4px;
  }

  &::-moz-range-progress {
    height: 4px;
    background-color: var(--accent);
    border-radius: 4px 0 0 4px;
  }

  &::-moz-range-thumb {
    width: 8px;
    height: 8px;
    background-color: var(--accent);
    border: none;
    border-radius: 50%;
    transition: width 0.2s ease, height 0.2s ease; /* Smooth resizing */
  }

  /* Target thumb hover OR input focus */
  &::-moz-range-thumb:hover,
  &:focus::-moz-range-thumb {
    width: 16px;
    height: 16px;
  }
}

button {
  background-color: var(--accent);
  color: var(--base);
  border: none;
  padding: 0.8em 1.2em;
  border-radius: 0.5em;
  cursor: pointer;

  &:hover {
    background-color: var(--text);
    color: var(--base);
  }
}

.sidebar-title {
  align-self: center;
}

.now-playing {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

#song-thumbnail {
  width: min(60vw, 60vh);
  height: min(60vw, 60vh);
  border-radius: 1.5em;
  object-fit: cover;
  background-color: var(--overlay);
}

#default-thumbnail {
  width: min(60vw, 60vh);
  height: min(60vw, 60vh);
  border-radius: 1.5em;
  object-fit: scale-down;
  background-color: var(--overlay);
}

.player-bar {
  display: flex;
  flex-direction: column;
  background-color: var(--overlay);
  height: 100px;
}

.player-controls {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
}

#seek-slider {
  border-radius: 0;
}

#seek-slider::-moz-range-track,
#seek-slider::-moz-range-progress {
  width: 2px;
  border-radius: 0;
}

.player-left {
  display: flex;
  align-items: center;
  gap: 1.2em;
}

.player-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.player-right {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.url-form {
  display: flex;
  gap: 1.2em;
  margin-top: 1em;
}

.url-form input {
  flex: 1;
  min-width: 0;
}

#queue {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow-y: auto;
}

.queue-item {
  display: flex;
  align-items: center;
  gap: 1.2em;
  padding: 0.5em;
  background-color: var(--base);
  border-radius: 0.5em;
  &:first-child {
    background-color: var(--accent);
    color: var(--base);
  }
}

.queue-info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow: hidden;
}

.queue-item img {
  width: 4em;
  height: 4em;
  object-fit: cover;
  border-radius: 0.25em;
}

#lyrics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-wrap-mode: wrap;
  gap: 1.5em;
  line-height: 1.2em;
  font-size: 1em;
  overflow-y: auto;
}

#active-lyric {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.8em;
}

@media only screen and (max-width: 1024px) {
  .player-center {
    display: none;
  }
  .sidebar-left {
    display: none;
  }
  .sidebar-right {
    display: none;
  }
}
