{% load static %}
<link rel="stylesheet" href="{% static 'YTUSRN/style.css' %}" />

{% load icons %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
/>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="row-container">
      <div class="outlined url-container">
        <h2>Submit URL</h2>
        <form method="POST">
          {% csrf_token %}
          <input
            type="url"
            name="url"
            placeholder="Enter URL"
            id="url-input"
            required
          />
          <button type="submit" id="url-button">Submit</button>
        </form>
      </div>
      <div class="outlined song-container">
        <h2>Now Playing</h2>
        <div class="song-info">
          <h3 id="song-title">Nothing Playing</h3>
          <h3 id="song-author">No Author</h3>
          <img id="song-thumbnail" src="{% static 'YTUSRN/default_music.webp' %}" alt="Music Thumbnail" />
        </div>
        <div class="control-container outlined">
          <div id="pause-button" class="control-icon">
            {% icon 'pause' extra_classes='fa-xl'%}
          </div>
          <div id="next-button" class="control-icon">
            {% icon 'next' extra_classes='fa-xl'%}
          </div>
        </div>
      </div>
      <div class="outlined queue-container">
        <h2>Queue</h2>
        <div class="col-container" id="queue"></div>
      </div>
    </div>
    <script src="{% static 'YTUSRN/script.js' %}"></script>
  </body>
</html>
