{% load static %}
<link rel="stylesheet" href="{% static 'YTUSRN/style.css' %}" />

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Username Input</title>
  </head>
  <body>
    <div class="centered-container">
      <div class="outlined col-container">
        <h2>Sign In</h2>
        <form class="user-form" action="/YTUSRN/" method="POST">
          {% csrf_token %}
          <input
            type="text"
            name="username"
            placeholder="Enter username"
            required
          />
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
